* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: aquamarine;
  }
  
  .container {
    left: -20px;
    text-align: center;
    padding: 20px;
    height: 50vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 10px 0 5px;
    text-align: center;
  }

  .outras{
    position: absolute;
    text-decoration: none;
    top: 1vh;
    color: white;
    border-bottom: 1px solid rgb(155, 109, 25);
    font-size: smaller;
  }
  
   .container h3{
    color: white;
  }

  label{
    color: blue;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
    outline-color: rgb(155, 109, 25);
  }
  
  button {
    margin-top: 12px;
    padding: 8px 10px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
  }
  
  p {
    position: absolute;
    background-color: #ffffff;
    margin: 20px 150px;
    width: fit-content;
    height: fit-content;
    color: black;
    border:1px solid rgb(155, 109, 25);
    text-align: center;
    top: 50%;
  }